<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="sportechapp-log-audit-heading"
        data-cy="LogAuditCreateUpdateHeading"
        sportechappTranslate="sportechappApp.logAudit.home.createOrEditLabel"
      >
        Create or edit a Log Audit
      </h2>

      <div>
        <sportechapp-alert-error></sportechapp-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" sportechappTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" sportechappTranslate="sportechappApp.logAudit.levelAudit" for="field_levelAudit">Level Audit</label>
          <input
            type="text"
            class="form-control"
            name="levelAudit"
            id="field_levelAudit"
            data-cy="levelAudit"
            formControlName="levelAudit"
          />
          <div *ngIf="editForm.get('levelAudit')!.invalid && (editForm.get('levelAudit')!.dirty || editForm.get('levelAudit')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('levelAudit')?.errors?.required"
              sportechappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('levelAudit')?.errors?.maxlength"
              sportechappTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 400 }"
            >
              This field cannot be longer than 400 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" sportechappTranslate="sportechappApp.logAudit.logName" for="field_logName">Log Name</label>
          <input type="text" class="form-control" name="logName" id="field_logName" data-cy="logName" formControlName="logName" />
          <div *ngIf="editForm.get('logName')!.invalid && (editForm.get('logName')!.dirty || editForm.get('logName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('logName')?.errors?.required"
              sportechappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('logName')?.errors?.maxlength"
              sportechappTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 400 }"
            >
              This field cannot be longer than 400 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" sportechappTranslate="sportechappApp.logAudit.messageAudit" for="field_messageAudit"
            >Message Audit</label
          >
          <input
            type="text"
            class="form-control"
            name="messageAudit"
            id="field_messageAudit"
            data-cy="messageAudit"
            formControlName="messageAudit"
          />
          <div
            *ngIf="editForm.get('messageAudit')!.invalid && (editForm.get('messageAudit')!.dirty || editForm.get('messageAudit')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('messageAudit')?.errors?.required"
              sportechappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('messageAudit')?.errors?.maxlength"
              sportechappTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 400 }"
            >
              This field cannot be longer than 400 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" sportechappTranslate="sportechappApp.logAudit.dateAudit" for="field_dateAudit">Date Audit</label>
          <div class="d-flex">
            <input
              id="field_dateAudit"
              data-cy="dateAudit"
              type="datetime-local"
              class="form-control"
              name="dateAudit"
              formControlName="dateAudit"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('dateAudit')!.invalid && (editForm.get('dateAudit')!.dirty || editForm.get('dateAudit')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateAudit')?.errors?.required"
              sportechappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('dateAudit')?.errors?.ZonedDateTimelocal"
              sportechappTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" sportechappTranslate="sportechappApp.logAudit.customer" for="field_customer">Customer</label>
          <select class="form-control" id="field_customer" data-cy="customer" name="customer" formControlName="customer">
            <option *ngIf="!editForm.get('customer')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption"
              *ngFor="let customerOption of customersSharedCollection; trackBy: trackCustomerById"
            >
              {{ customerOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['customer'])!.invalid && (editForm.get(['customer'])!.dirty || editForm.get(['customer'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['customer'])?.errors?.required"
            sportechappTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span sportechappTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span sportechappTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
