<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="sportechapp-area-heading" data-cy="AreaCreateUpdateHeading" sportechappTranslate="sportechappApp.area.home.createOrEditLabel">
        Create or edit a Area
      </h2>

      <div>
        <sportechapp-alert-error></sportechapp-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" sportechappTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" sportechappTranslate="sportechappApp.area.areaName" for="field_areaName">Area Name</label>
          <input type="text" class="form-control" name="areaName" id="field_areaName" data-cy="areaName" formControlName="areaName" />
          <div *ngIf="editForm.get('areaName')!.invalid && (editForm.get('areaName')!.dirty || editForm.get('areaName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('areaName')?.errors?.required"
              sportechappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('areaName')?.errors?.maxlength"
              sportechappTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 200 }"
            >
              This field cannot be longer than 200 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" sportechappTranslate="sportechappApp.area.urlLogo" for="field_urlLogo">Url Logo</label>
          <input type="text" class="form-control" name="urlLogo" id="field_urlLogo" data-cy="urlLogo" formControlName="urlLogo" />
          <div *ngIf="editForm.get('urlLogo')!.invalid && (editForm.get('urlLogo')!.dirty || editForm.get('urlLogo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('urlLogo')?.errors?.maxlength"
              sportechappTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 1000 }"
            >
              This field cannot be longer than 1000 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" sportechappTranslate="sportechappApp.area.areaState" for="field_areaState">Area State</label>
          <select class="form-control" name="areaState" formControlName="areaState" id="field_areaState" data-cy="areaState">
            <option [ngValue]="null">{{ 'sportechappApp.State.null' | translate }}</option>
            <option *ngFor="let state of stateValues" [value]="state">{{ 'sportechappApp.State.' + state | translate }}</option>
          </select>
          <div *ngIf="editForm.get('areaState')!.invalid && (editForm.get('areaState')!.dirty || editForm.get('areaState')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('areaState')?.errors?.required"
              sportechappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span sportechappTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span sportechappTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
