<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="year">
      <h2 data-cy="yearDetailsHeading"><span sportechappTranslate="sportechappApp.year.detail.title">Year</span></h2>

      <hr />

      <sportechapp-alert-error></sportechapp-alert-error>

      <sportechapp-alert></sportechapp-alert>

      <dl class="row-md jh-entity-details">
        <dt><span sportechappTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ year.id }}</span>
        </dd>
        <dt><span sportechappTranslate="sportechappApp.year.yearNumber">Year Number</span></dt>
        <dd>
          <span>{{ year.yearNumber }}</span>
        </dd>
        <dt><span sportechappTranslate="sportechappApp.year.yearState">Year State</span></dt>
        <dd>
          <span sportechappTranslate="{{ 'sportechappApp.State.' + year.yearState }}">{{ year.yearState }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span sportechappTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/year', year.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span sportechappTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
