<div>
  <h2 id="page-heading" data-cy="YearHeading">
    <span sportechappTranslate="sportechappApp.year.home.title">Years</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span sportechappTranslate="sportechappApp.year.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-year"
        [routerLink]="['/year/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sportechappTranslate="sportechappApp.year.home.createLabel"> Create a new Year </span>
      </button>
    </div>
  </h2>

  <sportechapp-alert-error></sportechapp-alert-error>

  <sportechapp-alert></sportechapp-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="years?.length === 0">
    <span sportechappTranslate="sportechappApp.year.home.notFound">No years found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="years && years.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr sportechappSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" sportechappSortBy="id"><span sportechappTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" sportechappSortBy="yearNumber">
            <span sportechappTranslate="sportechappApp.year.yearNumber">Year Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" sportechappSortBy="yearState">
            <span sportechappTranslate="sportechappApp.year.yearState">Year State</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let year of years; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/year', year.id, 'view']">{{ year.id }}</a>
          </td>
          <td>{{ year.yearNumber }}</td>
          <td sportechappTranslate="{{ 'sportechappApp.State.' + year.yearState }}">{{ year.yearState }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/year', year.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" sportechappTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/year', year.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" sportechappTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(year)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" sportechappTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="years && years.length > 0">
    <div class="d-flex justify-content-center">
      <sportechapp-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></sportechapp-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
