<div>
  <h2 id="page-heading" data-cy="ModuleScheduleHeading">
    <span sportechappTranslate="sportechappApp.moduleSchedule.home.title">Module Schedules</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span sportechappTranslate="sportechappApp.moduleSchedule.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-module-schedule"
        [routerLink]="['/module-schedule/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sportechappTranslate="sportechappApp.moduleSchedule.home.createLabel"> Create a new Module Schedule </span>
      </button>
    </div>
  </h2>

  <sportechapp-alert-error></sportechapp-alert-error>

  <sportechapp-alert></sportechapp-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="moduleSchedules?.length === 0">
    <span sportechappTranslate="sportechappApp.moduleSchedule.home.notFound">No moduleSchedules found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="moduleSchedules && moduleSchedules.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr sportechappSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" sportechappSortBy="id"><span sportechappTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" sportechappSortBy="module.id">
            <span sportechappTranslate="sportechappApp.moduleSchedule.module">Module</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let moduleSchedule of moduleSchedules; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/module-schedule', moduleSchedule.id, 'view']">{{ moduleSchedule.id }}</a>
          </td>
          <td>
            <div *ngIf="moduleSchedule.module">
              <a [routerLink]="['/module', moduleSchedule.module?.id, 'view']">{{ moduleSchedule.module?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/module-schedule', moduleSchedule.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" sportechappTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/module-schedule', moduleSchedule.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" sportechappTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(moduleSchedule)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" sportechappTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="moduleSchedules && moduleSchedules.length > 0">
    <div class="d-flex justify-content-center">
      <sportechapp-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></sportechapp-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
