<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="sportechapp-bounding-schedule-heading"
        data-cy="BoundingScheduleCreateUpdateHeading"
        sportechappTranslate="sportechappApp.boundingSchedule.home.createOrEditLabel"
      >
        Create or edit a Bounding Schedule
      </h2>

      <div>
        <sportechapp-alert-error></sportechapp-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" sportechappTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" sportechappTranslate="sportechappApp.boundingSchedule.bondingTrainer" for="field_bondingTrainer"
            >Bonding Trainer</label
          >
          <select
            class="form-control"
            id="field_bondingTrainer"
            data-cy="bondingTrainer"
            name="bondingTrainer"
            formControlName="bondingTrainer"
          >
            <option *ngIf="!editForm.get('bondingTrainer')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                bondingTrainerOption.id === editForm.get('bondingTrainer')!.value?.id
                  ? editForm.get('bondingTrainer')!.value
                  : bondingTrainerOption
              "
              *ngFor="let bondingTrainerOption of bondingTrainersSharedCollection; trackBy: trackBondingTrainerById"
            >
              {{ bondingTrainerOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['bondingTrainer'])!.invalid &&
            (editForm.get(['bondingTrainer'])!.dirty || editForm.get(['bondingTrainer'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['bondingTrainer'])?.errors?.required"
            sportechappTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span sportechappTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span sportechappTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
