<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="areaTrainer">
      <h2 data-cy="areaTrainerDetailsHeading"><span sportechappTranslate="sportechappApp.areaTrainer.detail.title">Area Trainer</span></h2>

      <hr />

      <sportechapp-alert-error></sportechapp-alert-error>

      <sportechapp-alert></sportechapp-alert>

      <dl class="row-md jh-entity-details">
        <dt><span sportechappTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ areaTrainer.id }}</span>
        </dd>
        <dt><span sportechappTranslate="sportechappApp.areaTrainer.areaTrainerState">Area Trainer State</span></dt>
        <dd>
          <span sportechappTranslate="{{ 'sportechappApp.State.' + areaTrainer.areaTrainerState }}">{{
            areaTrainer.areaTrainerState
          }}</span>
        </dd>
        <dt><span sportechappTranslate="sportechappApp.areaTrainer.area">Area</span></dt>
        <dd>
          <div *ngIf="areaTrainer.area">
            <a [routerLink]="['/area', areaTrainer.area?.id, 'view']">{{ areaTrainer.area?.areaName }}</a>
          </div>
        </dd>
        <dt><span sportechappTranslate="sportechappApp.areaTrainer.trainer">Trainer</span></dt>
        <dd>
          <div *ngIf="areaTrainer.trainer">
            <a [routerLink]="['/trainer', areaTrainer.trainer?.id, 'view']">{{ areaTrainer.trainer?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span sportechappTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/area-trainer', areaTrainer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span sportechappTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
